<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>ssgi</servlet-name>
		<servlet-class>org.scalatra.ssgi.servlet.SsgiServlet</servlet-class>
        <init-param>
            <param-name>org.scalatra.ssgi.Application</param-name>
            <param-value>org.scalatra.ssgi.examples.servlet.HelloWorldApp</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ssgi</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>